body {
    font-family: 'Lato', 'sans-serif';
    background: slategrey;
    padding: 0;
    margin: 0 auto;
    max-width: 900px;
    min-width: 700px;
    font-size: 1.75em;
}

h1,
h3,
a {
    text-align: left;
    color: black;
}

/* FORMS */

option,
label,
.movieList p,
.form p {
    font-weight: normal;
}

.form p {
    text-align: center;
}

.alignLabel {
    width: 30%;
    text-align: right;
    margin: 0 .25em 0 0;
}

.alignInput {
    width: 50%;
    margin-right: 10%;
}

#watchRadios {
    width: 100%;
    margin: 0 45%;
}

#watchRadios label {
    text-align: center;
    display: inline-block;
}

#watchRadios input {
    margin: 0 .25em;
}

.genreLabel {
    border-bottom: 2px dotted black;
    margin: 0 18% .5em 18%;
}

#watchRadios input {
    display: inline-block;
}

#genreBoxContainer {
    margin: 0 5% 2em 5%;
}

.genrebox {
    width: 100%;
}

.genreBox input {
    width: 1em;
    margin-left: 42%;
}

.genreBox label {
    margin-left: .25em;
}

select {
    font-weight: bold;
}

.goBack {
    display: inline-block;
    margin: .5em 0 2em 2em;
}

.goBack:hover {
    text-decoration: none;
} 

.addBtn {
    background-color: dimgrey;
    display: block;
    color: white; 
    width: 100%;
    text-align: center;
    padding: .25em;
    border: 1px solid black;
    text-shadow: 1px 1px 1px black;
    box-sizing: border-box;
    box-shadow: none;
    height: 2em;
}

#sortForm {
    background: transparent;
    display: block;
    width: 100%;
    text-align: center;
    padding: .25em;
    text-shadow: 1px 1px 1px black;
    box-sizing: border-box;
}

#sortForm label {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: normal;
    display: inline-block;
}

.addBtn:hover,
.addBtn:active,
.addBtn:focus {
    color: white;
    background-color: darkgrey;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    font-weight:bold;
    border: 1px solid black;
    outline: none;
}

.sortBtn {
    background-color: black;
    border-radius: 10px;
    padding: .2em .3em;
    border: 1px solid black;
    color: white;
    font-size: .9em;
}

.sortBtn:hover {
    background-color: dimgrey;
    text-shadow: 1px 1px 1px black;
    border: 1px solid black; 
}

#sortSelect option, 
#showSelect option {
    color: black;
}

#sortSelect option:hover,
#showSelect option:hover {
    background-color: black;
    color: white;
}

#sortSelect, 
#showSelect {
    color: black;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
}

.addBtn:active,
.sortBtn:active {
    font-weight:bold;
}

.red {
    color: red;
}

.movieList p {
    text-align: left;
    font-size: 1em;
    margin: 0;
    padding: .2em 0;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.fa-imdb {
    padding: 0;
    margin: 0;
}

.fa-imdb:hover {
    color: #ebc749;
} 

.container-fluid {
    padding: 0;
}

#content {
    background-color: #F8F8FF;
    margin: 0 auto 2em auto;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    z-index: 10000;
    background: black;
    width: 100%;
}

#banner {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    padding: .5em 0;
    color: white;
    font-size: 2.1em;
    text-shadow: 2px 2px 2px black;
    padding: .75em 0;
    letter-spacing: .2em;
    text-align: center;
}

.movieTitle {
    text-align: left;
    width: 40%;
}

.ved,
.movieTitle a {
    color: slategrey;
    text-shadow: 1px 1px 1px white;
}

.ved {
    font-size: .8em;
}

.ved:hover,
.ved:active,
.ved:focus,
.movieTitle a:hover,
.movieTitle a:active,
.movieTitle a:focus {
    color: black;
    text-decoration: none;
}

.actionDiv {
    width: 100%;
    display: inline-block;
}

.actionDiv a {
    margin-right: .5em;
    padding: .2em;
}

.movieList {
    padding: 2em 0 2em 6em;
    border-bottom: 1px solid black;
}

.movieList h3 {
    margin: 0 0 .25em 0;
}

.movieList ul li {
    list-style: none;
}



.listTitle {
    background-color: #DCDCDC;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: .75em 0;
    margin: 0;
    word-spacing: .25em;
    font-weight: normal;
}

#top_bar {
    background-color: DarkSlateGrey;
    padding: .25em 0;
    color: white;
    text-shadow: 1px 1px 1px: black;
    margin: 0 auto;
    border-bottom: 2px solid black;
}

#top_bar select {
    margin-right: .75em;
    margin-left: .2em;
}

#top_bar h2 {
    text-shadow: 1px 1px 1px black;
    margin: .25em auto;
    font-weight: normal;
    word-spacing: .25em;
}

.alert li {
    list-style:none;
}

.alert ul {
    text-align: center;
}

.error {
    margin: 0;
}

.formBtn {
    width: 20%;
    margin: 1em 40%;
    padding: .5em 0;
    border: 1px solid black;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.formBtn a {
    padding: .25em 5em;
}



